[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
requests = "*"
ansible = "*"
pywinrm = "*"
pyyaml = "*"

[dev-packages]
safety = "*"

[requires]
python_version = "3.13"
